.binaryInfoViewer {
    border: 2px solid;
    padding: 0.5rem 0;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    overflow: scroll;
}

.row {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 18px;
}

.key {
    background-color: black;
    color: white;
    flex: 1;
    text-align: center;
}

.value {
    flex: 1;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
}